@model Product

@{
    ViewBag.Title = "Product Details";
}

<h1>đây là action Details của ProductController</h1>
<div class="container">
    <h2>danh sách sản phẩm</h2>
    <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>photo</th>
                    <th>status</th>
                    <th>mfg</th>
                    <th>price</th>
                    <th>quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Id</td>
                    <td>@Model.Name</td>
                    <td>
                        <img src="~/images/@Model.Photo" alt="@Model.Name" width="50" />
                    </td>
                    <td>@(Model.Status ? "Active" : "Inactive")</td>
                    <td>@Model.Mfg.ToString("dd/MM/yyyy")</td>
                    <td>@Model.Price</td>
                    <td>@Model.Quantity</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<a asp-controller="Product" asp-action="Index">quay lại trang product</a>

@section ExtraCSS{
   <link href="~/css/Details.css" rel="stylesheet" />
}

                      